.btn-group button {
  background-color: gray; /* Green background */
  border: 1px solid gray; /* Green border */
  color: black; /* White text */
  padding: 10px 12px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 25%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
  margin: 10px; /*add space between buttons*/
  border-radius: 12px; /*add rounded corners to buttons*/
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: darkslategray;
}

/* stying to .weather-dashboard */
.weather-dashboard {
  text-align: center;
  background-image: linear-gradient(to left, darkblue, lightblue);
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
}
