/* .btn-group button {
  background-color: gray; /* Green background */
/*border: 1px solid gray; /* Green border */
/*color: black; /* White text */
/*padding: 10px 12px; /* Some padding */
/*cursor: pointer; /* Pointer/hand icon */
/*display: block; /* Make the buttons appear below each other */
/*margin: 2px; /*add space between buttons*/
/*border-radius: 12px; /*add rounded corners to buttons*/

body {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: darkslategray;
}

/* stying to .weather-dashboard */
header {
  text-align: center;
  background-image: linear-gradient(to left, darkslategray, skyblue);
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
}

/* styling to search button */
.search-button {
  background-color: skyblue;
  border-radius: 12px; /*add rounded corners to buttons*/
  border: 0px;
  width: 85%;
  position: relative;
  top: 5px;
}

/*styling to list of cities when populated*/
.list-group {
  border-radius: 12px;
  background-color: skyblue;
}

.search-button:hover {
  background-color: darkslategray;
}

.search-form {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: darkslategray;
  margin-bottom: 20px;
}

.forecast-panel {
  position: relative;
  left: 20%;
}

.current-conditions-panel {
  position: relative;
  /* bottom: 250px; */
  left: 27%;
  border: 2px solid black;
  width: 70%;
}

.card {
  background-color: darkslategray;
  /* flex-grow: 0; */
}

main {
  height: 100%;
  flex-grow: 1;
  display: flex;
}

.search {
  height: 100%;
  width: 200px;
  padding: 10px;
}
.weather {
  height: 100%;
  flex-grow: 1;
}

.current-weather {
  border: 2px solid green;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.forecast {
  border: 2px solid blue;
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* flex-wrap: wrap; */
}
