/* .btn-group button {
  background-color: gray; /* Green background */
/*border: 1px solid gray; /* Green border */
/*color: black; /* White text */
/*padding: 10px 12px; /* Some padding */
/*cursor: pointer; /* Pointer/hand icon */
/*display: block; /* Make the buttons appear below each other */
/*margin: 2px; /*add space between buttons*/
/*border-radius: 12px; /*add rounded corners to buttons*/

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: darkslategray;
}

/* stying to .weather-dashboard */
.weather-dashboard {
  text-align: center;
  background-image: linear-gradient(to left, darkslategray, skyblue);
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
}

/* styling to search button */
.search-button {
  background-color: skyblue;
  border-radius: 12px; /*add rounded corners to buttons*/
  border: 0px;
  width: 85%;
  position: relative;
  top: 5px;
}

/*styling to list of cities when populated*/
.list-group {
  border-radius: 12px;
  background-color: skyblue;
}

.search-button:hover {
  background-color: darkslategray;
}

.search-form {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: darkslategray;
}

.forecast-panel {
  position: relative;
  left: 20%;
}

.current-conditions-panel {
  position: relative;
  /* bottom: 250px; */
  left: 27%;
  border: 2px solid black;
  width: 70%;
}

.card {
  background-color: darkslategray;
}
